<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Scan Tracking Number</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <div class="row" data-comp-id="row.4">
            <div class="col col-10" data-comp-id="column.9"></div>
            <div class="col" data-comp-id="column.8">
                <label class="item item-input" data-comp-id="textInput.1">
                    <span class="input-label">Text</span>
                    <input ng-model="data.trackingNumber" placeholder="Tracking Number" type="text">
                </label>
            </div>
            <div class="col col-10" data-comp-id="column.10" ng-click="search()">
                <button class="button button-clear ion-ios-search button-small"
                    data-comp-id="button.4" style="font-size: 25px;"></button>
            </div>
        </div>
        <!--Form Contents-->
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.2"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.1" style="padding: 0px;">
            <div class="col" data-comp-id="column.1" style="padding: 0px;"></div>
            <div class="col text-center" data-comp-id="column.2" style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.3">
                    <button class="button icon button-round button-shadowed fa-icon fa-barcode"></button>
                    <div class="label"></div>
                </div>
            </div>
            <div class="col text-right" data-comp-id="column.3" style="padding: 0px;"></div>
        </div>
    </div>
</ion-view>