<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Shipment Detail</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <div data-comp-id="div.2" style="width: 90%; margin: 5%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px;">
                <div class="col" data-comp-id="column.1">
                    <div data-comp-id="text.1" style="font-weight: bold;">Shipment Number:</div>
                </div>
                <div class="col" data-comp-id="column.4">
                    <div data-comp-id="text.2">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.8" style="margin: 0px;">
                <div class="col" data-comp-id="column.15">
                    <div data-comp-id="text.13" style="font-weight: bold;">Package Number:</div>
                </div>
                <div class="col" data-comp-id="column.16">
                    <div data-comp-id="text.14">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.7" style="margin: 0px;">
                <div class="col" data-comp-id="column.13">
                    <div data-comp-id="text.11" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.14">
                    <div data-comp-id="text.12">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.13" style="margin: 0px;">
                <div class="col" data-comp-id="column.25">
                    <div data-comp-id="text.23" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.26">
                    <div data-comp-id="text.24">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.12" style="margin: 0px;">
                <div class="col" data-comp-id="column.23">
                    <div data-comp-id="text.21" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.24">
                    <div data-comp-id="text.22">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.11" style="margin: 0px;">
                <div class="col" data-comp-id="column.21">
                    <div data-comp-id="text.19" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.22">
                    <div data-comp-id="text.20">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.10" style="margin: 0px;">
                <div class="col" data-comp-id="column.19">
                    <div data-comp-id="text.17" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.20">
                    <div data-comp-id="text.18">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.9" style="margin: 0px;">
                <div class="col" data-comp-id="column.17">
                    <div data-comp-id="text.15" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.18">
                    <div data-comp-id="text.16">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.6" style="margin: 0px;">
                <div class="col" data-comp-id="column.11">
                    <div data-comp-id="text.9" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.12">
                    <div data-comp-id="text.10">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.5" style="margin: 0px;">
                <div class="col" data-comp-id="column.9">
                    <div data-comp-id="text.7" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.10">
                    <div data-comp-id="text.8">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.4" style="margin: 0px;">
                <div class="col" data-comp-id="column.7">
                    <div data-comp-id="text.5" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.8">
                    <div data-comp-id="text.6">Some text</div>
                </div>
            </div>
            <div class="row" data-comp-id="row.3" style="margin: 0px;">
                <div class="col" data-comp-id="column.5">
                    <div data-comp-id="text.3" style="font-weight: bold;">Tracking Number:</div>
                </div>
                <div class="col" data-comp-id="column.6">
                    <div data-comp-id="text.4">Some text</div>
                </div>
            </div>
        </div>
        <!--Form Contents-->
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer="">
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <div class="footer-button" data-comp-id="footerButton.2">
                    <button class="button icon ion-arrow-left-c button-round button-shadowed"></button>
                    <div class="label"></div>
                </div>
            </div>
            <div class="col" data-comp-id="column.3">
                <div class="footer-button button-footer-right" data-comp-id="footerButton.1">
                    <button class="button icon ion-arrow-right-c button-round button-shadowed"></button>
                    <div class="label"></div>
                </div>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>